---
import Base from "@src/layouts/Base.astro";
console.log('Hi! I’m the server. This is logged in the terminal where Astro is running.');


---
<Base title="Agence | Acceuil" tab="acceuil">
	<h1 class="text-lg ">Bienvenue à l'agence!</h1>
</Base>
