---
import Header from '../components/Header.astro';
console.log('Hi! I’m the server. This is logged in the terminal where Astro is running.');
const { title, tab } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title> {title} </title>
	</head>
	<body>
		<Header tab={tab}/>
		<slot />
	</body>
</html>
